@page
@using MilenioRadartonaAPI.Areas.Identity.Pages.Account
@model LoginModel

@{
    ViewData["Title"] = "Entrar";
}

<style>
    button:hover, p.rounded-pill {
        cursor: pointer;
        transition-duration: 150ms;
        border-radius: 5px;
    }


</style>
                <form id="account" method="post" class="w3-container w3-card-4">
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="w3-section">
                        <input class="w3-input" asp-for="Input.Email" autocomplete="off" />
                        <label asp-for="Input.Email"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="w3-section">
                        <input asp-for="Input.Password" class="w3-input" />
                        <label asp-for="Input.Password"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="w3-section">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="w3-section">
                        <button type="submit" class="btn-dark border text-light w-100 p-3">Entrar com sua conta.</button>
                    </div>
                    <div class="w3-center">
                        <p class="bg-dark text-center border rounded-pill mb-2 p-1" style="width: auto; font-size: 15px;">
                            <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu a senha?</a>
                        </p>
                        <p class="bg-dark text-center border rounded-pill mb-5 p-1" style="width: auto; font-size: 15px;">
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registre uma nova conta.</a>
                        </p>
                    </div>
                </form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<!-- Optional JavaScript -->
<script type="text/javascript" src="~/javascript/jquery-funcoes-htmls.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('.quad').css({ 'background-color': '#112640', 'transition-duration': '1000ms' });
        $('.quad4').css({ 'background-color': '#112640', 'transition-duration': '1000ms' });
        $('#navbarTogglerDemo03').css({ 'background-color': '#112640cc', 'transition-duration': '1000ms' });
        $('.nav-link').css({ 'color': '#d1e2ff', 'transition-duration': '1000ms' });
        $('a').css({ 'color': '#d1e2ff', 'transition-duration': '1000ms' });
        $('h1.navbar-brand').css({ 'color': '#d1e2ff', 'transition-duration': '1000ms' })
        $('h5.nav-link').css({ 'color': '#112640', 'transition-duration': '1000ms' });
        $('.escuro').css({ 'color': '#112640', 'transition-duration': '1000ms' });
    });

</script>


