@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="w3-container">
    <h1>@ViewData["Title"]</h1>
    <p>Vocë está desconectado.</p>
    <p><a href="/">Voltar</a></p>
</div>