@page
@using MilenioRadartonaAPI.Areas.Identity.Pages.Account
@model RegisterModel

@{
    ViewData["Title"] = "Registrar";
}

            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="w3-container w3-card-4">
                <h2>Registro</h2>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="w3-section">
                    <input class="w3-input" type="text" required="" asp-for="Input.Nome">
                    <label asp-for="Input.Nome">Name</label>
                    <span asp-validation-for="Input.Nome" autocomplete="off" class="text-danger"></span>
                </div>
                <div class="w3-section">
                    <input asp-for="Input.Email" class="w3-input" type="text" required="">
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" autocomplete="off" class="text-danger"></span>
                </div>
                <div class="w3-section">
                    <input asp-for="Input.Celular" id="celular" class="w3-input" type="text" required="">
                    <label asp-for="Input.Celular"></label>
                    <span asp-validation-for="Input.Celular" class="text-danger"></span>
                </div>

                <div class="w3-section">
                    <input asp-for="Input.Password" class="w3-input" type="password" required="">
                    <label asp-for="Input.Password"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="w3-section">
                    <input asp-for="Input.ConfirmPassword" class="w3-input" type="password" required="">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="w3-center">
                    <br>
                    <button class="w3-btn w3-theme" type="reset">Reset</button>
                    <button class="w3-btn w3-theme" type="submit">Enviar</button>
                    <br>
                </div>
                <hr>
            </form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<!-- Optional JavaScript -->
<script type="text/javascript" src="~/javascript/jquery-funcoes-htmls.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('.quad').css({ 'background-color': '#112640', 'transition-duration': '1000ms' });
        $('.quad4').css({ 'background-color': '#112640', 'transition-duration': '1000ms' });
        $('#navbarTogglerDemo03').css({ 'background-color': '#112640cc', 'transition-duration': '1000ms' });
        $('.nav-link').css({ 'color': '#d1e2ff', 'transition-duration': '1000ms' });
        $('a').css({ 'color': '#d1e2ff', 'transition-duration': '1000ms' });
        $('h1.navbar-brand').css({ 'color': '#d1e2ff', 'transition-duration': '1000ms' })
        $('h5.nav-link').css({ 'color': '#112640', 'transition-duration': '1000ms' });
        $('.escuro').css({ 'color': '#112640', 'transition-duration': '1000ms' });
    });

    jQuery("input#celular")
        .mask("(99) 9999-9999?9")
        .focusout(function (event) {
            var target, phone, element;
            target = (event.currentTarget) ? event.currentTarget : event.srcElement;
            phone = target.value.replace(/\D/g, '');
            element = $(target);
            element.unmask();
            if (phone.length > 10) {
                element.mask("(99) 99999-999?9");
            } else {
                element.mask("(99) 9999-9999?9");
            }
        });
</script>

