<!DOCTYPE html>
<html>
<title>intra - Dados de Radares - API</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/w3.css">
<link rel="stylesheet" href="/css/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>
    <!-- Header -->
    <header class="w3-container w3-theme-header w3-padding" id="myHeader" style="background-image: url(/images/smt_logo.png);background-repeat: no-repeat;background-position: 100px center;">
        <div class="w3-center">
            <h1 class="w3-xxxlarge w3-animate-bottom">Dados de Radares</h1>
        </div>
    </header>
    <div class="w3-border">
        <div class="w3-bar w3-theme">
            <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openCity(event,'perfil')" id="perfil-bt">Perfil</button>
            <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openCity(event,'relatorios')" id="report-bt">Relatórios</button>
            <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openCity(event,'locais'); fixmap();" id="locais-bt">Locais</button>
            <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openCity(event, 'enquad'); fixmap();" id="enquad-bt">Enquadramento</button>
            <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="getRid();window.location = '/Identity/Account/Logout';" id="logout-bt">Sair</button>
        </div>
        @RenderBody()
    </div>

    <!-- Script for Sidebar, Tabs, Accordions, Progress bars and slideshows -->
    <script>
        // Side navigation
        function w3_open() {
            var x = document.getElementById("mySidebar");
            x.style.width = "100%";
            x.style.fontSize = "40px";
            x.style.paddingTop = "10%";
            x.style.display = "block";
        }
        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
        }

        // Tabs
        function openCity(evt, cityName) {
            var i;
            var x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            var activebtn = document.getElementsByClassName("testbtn");
            for (i = 0; i < activebtn.length; i++) {
                activebtn[i].className = activebtn[i].className.replace(" w3-dark-grey", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " w3-dark-grey";
        }

        var mybtn = document.getElementsByClassName("testbtn")[0];
        mybtn.click();

        // Accordions
        function myAccFunc(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }

        // Slideshows
        var slideIndex = 1;

        function plusDivs(n) {
            slideIndex = slideIndex + n;
            showDivs(slideIndex);
        }

        function showDivs(n) {
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length };
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }

        //showDivs(1);

        // Progress Bars
        function move() {
            var elem = document.getElementById("myBar");
            var width = 5;
            var id = setInterval(frame, 10);
            function frame() {
                if (width == 100) {
                    clearInterval(id);
                } else {
                    width++;
                    elem.style.width = width + '%';
                    elem.innerHTML = width * 1 + '%';
                }
            }
        }
        function getRid() {
            var cookies = document.cookie.split(";");
            for (var i = 0; i < cookies.length; i++) {
                var equals = cookies[i].indexOf("=");
                var name = equals > -1 ? cookies[i].substr(0, equals) : cookies[i];
                document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
            }
        }
        function fixmap() {
            $('#map').css({ 'height': ($('body')[0].offsetHeight - $('header')[0].offsetHeight - $('.w3-bar')[0].offsetHeight - $('#cabecinha')[0].offsetHeight - 40) + 'px' });
            $('#map2').css({ 'height': ($('body')[0].offsetHeight - $('header')[0].offsetHeight - $('.w3-bar')[0].offsetHeight - $('#cabecinha2')[0].offsetHeight- $('#seletorzinho')[0].offsetHeight - 40) + 'px' });
        }
    </script>

</body>
</html>